<div class="row">
  <div class="col-xl-12">
    <br>
    <FONT FACE="courier" SIZE=10 style="margin-left:50px;">MANTENIMIENTO</FONT>
    <img src="assets/images/bus_logo.png"  style="margin-left:590px;"id="imgRedonda"/>
    <br>
    
    <br>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="hola">
      <div class="input-group">
        <input type="search" placeholder="Ingrese el Padrón a buscar..." aria-describedby="button-addon1" 
          class="form-control border-0 bg-light" >
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
              class="fa fa-search" ></i></button>
        </div>
      </div>
    </div>
    <br>
    <div class="button-7">
      <div class="eff-7"></div>
      <a href="#">Registrar Mantenimiento</a>
    </div>
    <br><br><br><br>
    <table class="table table-hover" id="tabla_registrar_mantenimiento">
        <thead>
          <tr>
              <th>Fecha</th>  
              <th>Tipo Mantenimiento</th> 
              <th>Padrón</th>
              <th>Placa</th>
              <th colspan="2">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>8/11/2019</th>
            <td>Correctivo</td>
            <td>AAA</td>
            <td>AAA-123</td>
          </tr>
          <tr>
            <th>7/11/2019</th>
            <td>Preventivo</td>
            <td>BBB</td>
            <td>BBB-123</td>
          </tr>
          <tr>
            <th>7/11/2019</th>
            <td>Diario</td>
            <td>CCC</td>
            <td>CCC-123</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
