<div class="row">
  <div class="col-xl-12">
    <br>
    <FONT FACE="courier" SIZE=10 style="margin-left:50px;">MANTENIMIENTO</FONT>
    <img src="assets/images/bus_logo.png" style="margin-left:590px;" id="imgRedonda" />
    <br>

    <br>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="hola">
      <div class="input-group">
        <input type="search" placeholder="Ingrese el Padrón a buscar..." aria-describedby="button-addon1"
          class="form-control border-0 bg-light" ng-model="busqueda">
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
              class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <br>
    <div class="button-7">
      <div class="eff-7"></div>
      <a data-toggle="modal" data-target="#addregistrarmantenimiento" (click)="fillSelect()">Registrar Mantenimiento</a>
    </div>


    <div class="modal fade bd-example-modal-lg" id="addregistrarmantenimiento" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrar Mantenimiento </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">

              <div class="row">
                <div class="col">
                 

                  <div class="form-group" style="margin-left:15px;">
                    <label for="tipodoc" class="col-form-label">Tipo de Documento:</label>
                    <select class="form-control" (change)="selectTipoMantenimiento($event)" style="width:325px;">
                      <option value="0">Seleccionar...</option>
                      <option *ngFor="let tipomant of listTipoMantenimiento" value={{tipomant.id_tipo_mantenimiento}}>
                        {{tipomant.tipo_mantenimiento}}</option>
                    </select>
                  </div>
                </div>

                <div class="col">
                  <label for="padron" class="col-form-label">Padrón:</label>
                  <input [(ngModel)]="padron" name="padron" type="text" class="form-control">
                  <br>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click) = "getid(padron)" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- MODAL DETALLE MANTENIMIENTO-->
    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrar Mantenimiento </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">

              <div class="row">
                <div class="col">
                  <label for="name" class="col-form-label">Padrón:</label>
                  <input name="tipo_mantenimiento" type="text" class="form-control">
                  <br>
                  <label for="exampleFormControlSelect1">Tipo de Mantenimiento</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Preventivo</option>
                    <option>Correctivo</option>
                    <option>Diario</option>
                    <option>Tecnica</option>
                  </select>
                </div>

                <div class="col">
                  <label for="name" class="col-form-label">Placa:</label>
                  <input disabled name="tipo_mantenimiento" type="text" class="form-control">
                  <br>

                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>




    <br><br><br><br>
    <table class="table table-hover" id="tabla_registrar_mantenimiento">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo Mantenimiento</th>
          <th scope="col">Padrón</th>
          <th scope="col">Placa</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mant of listMantenimiento, let i = index">
          <th>{{i+1}}</th>
          <td>{{mant.fecha}}</td>
          <td>{{mant.tipo_mantenimiento}}</td>
          <td>{{mant.padron}}</td>
          <td>{{mant.placa}}</td>
          <td><button (click)="listardetalle(ped.id_pedido)" type="button" class="btn btn-info fa fa-eye"
              data-toggle="modal" data-target="#exampleModal"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>