<div class="row">
  <div class="col-xl-12">
    <br>
    <FONT FACE="courier" SIZE=10 style="margin-left:50px;">MANTENIMIENTO</FONT>
    <img src="assets/images/bus_logo.png" style="margin-left:590px;" id="imgRedonda" />
    <br>

    <br>
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="hola">
      <div class="input-group">
        <input type="search" placeholder="Ingrese el Padrón a buscar..." aria-describedby="button-addon1"
          class="form-control border-0 bg-light">
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
              class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <br>
    <div class="button-7">
      <div class="eff-7"></div>
      <a data-toggle="modal" data-target="#addregistrarmantenimiento">Registrar Mantenimiento</a>
    </div>
    <div class="modal fade bd-example-modal-lg" id="addregistrarmantenimiento" tabindex="-1" role="dialog"
      aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Registrar Mantenimiento </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">

              <div class="row">
                <div class="col">
                  <label for="name" class="col-form-label">Padrón:</label>
                  <input name="tipo_mantenimiento" type="text" class="form-control">
                  <br>
                  <label for="exampleFormControlSelect1">Tipo de Mantenimiento</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Preventivo</option>
                    <option>Correctivo</option>
                    <option>Diario</option>
                    <option>Tecnica</option>
                  </select>
                </div>

                <div class="col">
                  <label for="name" class="col-form-label">Placa:</label>
                  <input disabled name="tipo_mantenimiento" type="text" class="form-control">
                  <br>
                 
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <br><br><br><br>
    <table class="table table-hover" id="tabla_registrar_mantenimiento">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Tipo Mantenimiento</th>
          <th>Padrón</th>
          <th>Placa</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>8/11/2019</th>
          <td>Correctivo</td>
          <td>AAA</td>
          <td>AAA-123</td>
          <td><a href="" ><i class="fa fa-eye" style="font-size: 23px; color: rgb(83, 55, 83);"></i></a></td>
        </tr>
        <tr>
          <th>7/11/2019</th>
          <td>Preventivo</td>
          <td>BBB</td>
          <td>BBB-123</td>
          <td><a href="" ><i class="fa fa-eye" style="font-size: 23px; color: rgb(83, 55, 83);"></i></a></td>
        </tr>
        <tr>
          <th>7/11/2019</th>
          <td>Diario</td>
          <td>CCC</td>
          <td>CCC-123</td>
          <td><a href="" ><i class="fa fa-eye" style="font-size: 23px; color: rgb(83, 55, 83);"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>