<div class="row">
  <div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Placa</th>
            <th>Padron</th>
            <th>Estado</th>
            <th>Modelo</th>
            <th>A</th>
            <th>Estado</th>
            <th>Estado</th>
            <th colspan="2">Opcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of listPeople">
            <td>{{persona.nombre_persona}}</td>
            <td>{{persona.apellido_paterno}}</td>
            <td>{{persona.apellido_materno}}</td>
            <td>{{persona.nro_documento}}</td>
            <td>{{persona.celular}}</td>
            <td><button class="btn btn-warning fa fa-pencil" (click)="fillSelect()" (click)="loadPersona(persona)" data-toggle="modal" data-target="#editpersonamodal" ></button></td>
            <td><button class="btn btn-danger fa fa-trash" (click)="Eliminar(persona)"></button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>