<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Cronogramas y Despacho</h3>
            <strong>CD</strong>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="#"> <i class="fa fa-bus"></i> Asignar Conductor </a>
            </li>

            <li>
                <a href="#"> <i class="fa fa-bus"></i> Asignar Bus </a>
            </li>

            <li>
                <a href="#"> <i class="fa fa-image"></i> Configurar grupo </a>
            </li>


            <li>
                <a href="#"> <i class="fa fa-bus"></i> Generar CSV</a>
            </li>

            <li>
                <a href="#"> <i class="fa fa-bus"></i> Generar CTC </a>
            </li>

            <li>

                <a href="#"> <i class="fas fa-paper-plane"></i> Contact </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


            </div>
        </nav>

        <h2>Collapsible Sidebar Using Bootstrap 4</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#sidebarCollapse").on("click", function() {
            $("#sidebar").toggleClass("active");
        });
    });
</script>