<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <br><br>
      <h1 class="page-header">
          BIENVENIDOS AL REGISTRO DE PEDIDOS
      </h1>
      <br><br>
      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_registar_pedido">
              <thead>
                <tr>
                    <th>#</th> 
                    <th>Fecha</th>  
                    <th>Placa</th>
                    <th>Padrón</th>
                    <th>Tipo Mantenimiento</th> 
                    <th colspan="2">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ped of listpedido, let i = index">
                  <th>{{i+1}}</th> 
                  <th>{{ped.fecha_pedido}}</th>
                  <td>AAA-123</td>
                  <td>AAA</td>
                  <td>Correctivo</td>
                  <td><button type="button" class="btn btn-success fa fa-bomb" data-toggle="modal" data-target="#exampleModal"></button></td>
                </tr>
                <tr >
                  <th>3</th> 
                  <th>3/11/2019</th>
                  <td>CCC-123</td>
                  <td>CCC</td>
                  <td>Diario</td>
                  <td><button type="button" class="btn btn-success fa fa-plus" data-toggle="modal" data-target="#exampleModal"></button></td>
                </tr>
              </tbody>
            </table>

                    <!-- MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">REGISTRAR PRODUCTOS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <!-- MODAL BODY -->
          <div class="modal-body">
            <table class="table">   
              <thead class="thead-light">
                <tr>
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="hello">
                        <div class="input-group"> 
                          <input type="search" placeholder="Buscar producto"  aria-describedby="button-addon1"
                            class="form-control border-0 bg-light" >
                          <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                class="fa fa-search"></i></button>
                                
                          </div>
                        </div>
                      </div>
                      <td><button type="button" class="btn btn-success">Agregar</button></td>
                      
      
                </tr>
              </thead>
              <thead class="thead">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Llantas</td>
                  <td>20</td>  
                  <td><input class="form-control mr-sm-5" type="box" placeholder="" ></td>  
                </tr>
              </tbody>
            </table>
          </div>
          <!-- MODAL FOOTER -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Registrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  