<div class="row">
  <div class="col-xl-12">
    <br>
    <FONT FACE="courier" SIZE=10 style="margin-left:400px;">MANTENIMIENTO</FONT>
    <br>
    <br>
    <div>
      <h1>Lista de mantenimientos</h1>
    </div>
    <table class="table table-hover" id="tabla_registrar_mantenimiento">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>PLACA</th>
          <th>PADRÓN</th>
          <th>CONDUCTOR</th>
          <th>FECHA</th>
          <th>OBSERVACIÓN</th>
          <th>VER ACCION</th>
          <th>VALIDAR</th>
          <th>VALIDAR JEFE DE OPERACIONES</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>