<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <br><br>
      <h1 class="page-header">
         Reportes de gestion de Conductores:
      </h1>     
    </div>
   </div>
 </div>
      <br><br>
      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Nombre Conductor</th>  
                  <th>Cargo</th>
                  <th>Fecha</th> 
                  <th>Hora</th> 
                  <th>Carnet de Conductor</th>
                  <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th><input name="Conductor" type="text" class="form-control"></th>
                <td>Conductor</td>
                <td><input type="date"></td>
                <td><input type="time"></td> 
                <td><input type="box"></td> 
                <td><button type="button" class="btn btn-danger">Enviar</button></td>             
              </tr>
            </tbody>
          </table>
      </div>
      <!--BODY finally-->
      <!--BODY-->
      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <br><br>
              <h1 class="page-header">
                 Reporte de gestion de buses:
              </h1>     
            </div>
           </div>
         </div>
         <tr></tr>

      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Conductor</th>  
                  <th>Telefono</th>
                  <th>Direccion</th> 
                  <th>DNI</th> 
                  <th>Placa Vehicular</th>
                  <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th><input name="Conductor" type="text" class="form-control"></th>
                <td><input type="box"></td>
                <td><input type="box"></td>
                <td><input type="box"></td> 
                <td>
                    <select class="form-control  col-6 col-sm-9  "  >
                        <option selected> </option>
                        <option multiple *ngFor="let bus of listBus">{{bus.placa}}</option>
                      </select>
                </td> 
                <td><button type="button" class="btn btn-danger">Enviar</button></td>            
              </tr>
            </tbody>
          </table>
      </div>
      <!--BODY finally-->
      <!--BODY-->
      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <br><br>
              <h1 class="page-header">
                 Reporte de mantenimiento:
              </h1>     
            </div>
           </div>
         </div>
         <tr></tr>

      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Placa</th>  
                  <th>Tipo Revision</th>
                  <th>Tipo Mantenimiento</th> 
                  <th>Fecha</th> 
                  <th colspan="2">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th>
                    <select class="form-control  col-6 col-sm-9  "  >
                        <option selected> </option>
                        <option multiple *ngFor="let bus of listBus">{{bus.placa}}</option>
                      </select>
                </th>
                <td><input type="box"></td>
                <td><input type="box"></td>
                <td><input type="date"></td> 
                <td><button type="button" class="btn btn-danger">Enviar</button></td>              
              </tr>
            </tbody>
          </table>
      </div>