<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <br><br>
      <h1 class="page-header">
         Reportes de gestion de Conductores:
      </h1>     
    </div>
   </div>
 </div>
      <br><br>
      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Conductor</th>  
                  <th>Cargo</th>
                  <th>Fecha</th> 
                  <th>Hora</th> 
                  <th>Carnet de Conductor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th>pepito</th>
                <td>Conductor</td>
                <td>15/11/2019</td>
                <td>22:10</td> 
                <td>456123</td>             
              </tr>
              <tr >
                <th>2</th> 
                <th>Laura</th>
                <td>Gerente</td>
                <td>14/11/2019</td>
                <td>22:10</td> 
                <td>123789</td>
              </tr>
              <tr >
                  <th>3</th> 
                  <th>Alex</th>
                  <td>Conductor</td>
                  <td>20/11/2019</td>
                  <td>16:10</td> 
                  <td>894789</td>
                </tr>
            </tbody>
          </table>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <br><br>
              <h1 class="page-header">
                 Reporte de gestion de buses:
              </h1>     
            </div>
           </div>
         </div>
         <tr></tr>

      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Conductor</th>  
                  <th>Cargo</th>
                  <th>Fecha</th> 
                  <th>Hora</th> 
                  <th>Carnet de Conductor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th>pepito</th>
                <td>Conductor</td>
                <td>15/11/2019</td>
                <td>22:10</td> 
                <td>456123</td>             
              </tr>
              <tr >
                <th>2</th> 
                <th>Laura</th>
                <td>Gerente</td>
                <td>14/11/2019</td>
                <td>22:10</td> 
                <td>123789</td>
              </tr>
              <tr >
                  <th>3</th> 
                  <th>Alex</th>
                  <td>Conductor</td>
                  <td>20/11/2019</td>
                  <td>16:10</td> 
                  <td>894789</td>
                </tr>
            </tbody>
          </table>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <br><br>
              <h1 class="page-header">
                 Reporte de mantenimiento:
              </h1>     
            </div>
           </div>
         </div>
         <tr></tr>

      <!--BODY-->
      <div class="container row">
          <table class="table table-hover" id="tabla_reportes">
            <thead>
              <tr>
                  <th>Nº</th> 
                  <th>Observacion</th>  
                  <th>Cargo</th>
                  <th>Fecha</th> 
                  <th>Hora</th> 
                  <th>Carnet de Conductor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th> 
                <th>pepito</th>
                <td>Conductor</td>
                <td>15/11/2019</td>
                <td>22:10</td> 
                <td>456123</td>             
              </tr>
              <tr >
                <th>2</th> 
                <th>Laura</th>
                <td>Gerente</td>
                <td>14/11/2019</td>
                <td>22:10</td> 
                <td>123789</td>
              </tr>
              <tr >
                  <th>3</th> 
                  <th>Alex</th>
                  <td>Conductor</td>
                  <td>20/11/2019</td>
                  <td>16:10</td> 
                  <td>894789</td>
                </tr>
            </tbody>
          </table>
      </div>