<div class="row">
    <div class="col-xl-12">
        <h1 class="page-header">
            Acción
        </h1>
        <div class="container row">
            <div class="col-8">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addaccion">
                    Agregar acción
                </button>
            </div>
        </div>
        <!--el modal para agregar una accion-->
        <div class="modal fade" id="addaccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nueva acción</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label for="tipoaccion" class="col-form-label">Tipo de acción:</label>
                                <select class="form-control" (change)="selectTipoDoc($event)">
                                    <option value="0">Seleccionar...</option>
                                    <option *ngFor="let tipoaccion of listartipoaccion"
                                        value={{tipoaccion.id_tipo_accion}}>
                                        {{tipoaccion.nom_tipo_accion}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="name" class="col-form-label">Nombre:</label>
                                    <input name="nom_accion" [(ngModel)]="accion.nom_accion" type="text"
                                        class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" (click)="guardaraccion()" class="btn btn-info"
                            data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal para listar accion-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>TIPO DE ACCION</th>
                    <th>NOMBRE</th>
                    <th colspan="2">Opcion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let accion of listaraccion; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{accion.id_tipo_accion}}</td>
                    <td>{{accion.nom_accion}}</td>
                    <td><button class="btn btn-warning far fa-edit" (click)="fillSelect()"
                            (click)="loadPersona(persona)" data-toggle="modal" data-target="#editpersonamodal"></button>
                    </td>
                    <td><button class="btn btn-danger fas fa-trash-alt" (click)="Eliminar(persona)"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>