<div class="row">
  <div class="col-xl-12">
    <h1 class="page-header">
      Tipo de Mantenimiento
    </h1>
    <div class="container row">
      <div class="col-8">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addtipomantenimiento">
          Agregar Tipo Mantenimiento
        </button>
      </div>
    </div>
    <div class="modal fade" id="addtipomantenimiento" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nueva Persona</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="form-group">
                  <label for="name" class="col-form-label">Nombre:</label>
                  <input [(ngModel)]="tipomantenimiento.tipo_mantenimiento" name="tipo_mantenimiento" type="text"
                    class="form-control">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" (click)="Guardar()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" *ngFor="let tipo_mant of loadTipoMantenimientoData">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Nueva Persona</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="form-group">
                  <label for="name" class="col-form-label">Nombre:</label>
                  <input [(ngModel)]="tipo_mant.tipo_mantenimiento" name="tipo_mantenimiento" type="text"
                    class="form-control">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" (click)="Actualizar(tipo_mant)" class="btn btn-primary"
              data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>



    <br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tipo de Mantenimiento</th>
          <th colspan="2">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tipo_mantenimiento of listTipoMantenimiento">
          <td>{{tipo_mantenimiento.tipo_mantenimiento}}</td>
          <td><button class="btn btn-warning fa fa-pencil"  (click)="loadTipoMantenimiento(tipo_mantenimiento)"
            data-toggle="modal" data-target="#edit"></button></td>
          <td><button class="btn btn-danger fa fa-trash" (click)="Eliminar(tipo_mantenimiento)"></button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
