<div class="filtrar mt-4 ">
    <label id="gru">GRUPO: </label>
    <select class="form-control  col-6 col-sm-2  para " (change)="selectnum($event)">
        <option [value] = "0" > </option>
        <option *ngFor="let n of this.numeroma" [value]="n">{{n}}</option>
      
      </select>
    </div>

    <div class="filtrar1 pt-5 ">
    <label for="">PARADERO: </label>
    <select class="form-control  col-6 col-sm-2  para1  " (change)="selectpa($event)">
    <option > </option>
    <option *ngFor="let pa of listparadero" [value]="pa.id_paradero">{{pa.paradero}}</option>  
    
  </select>
</div>
    <button class="btn btn-success bt1" (click)="filtrar()">Filtrar</button>
   




<div class="container pt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">GRUPO</th>
                <th scope="col">PARADERO</th>
                <th scope="col">ORDEN</th>
                <th scope="col">HORA</th>
                <th scope="col">FIJO</th>
                <th scope="col">BUS</th>
                <th scope="col">OK</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ls of Listasignarbus | paginate: {itemsPerPage: 5, currentPage: p2};let i = index">
                <th id="row" scope="row">{{i+1}}</th>
                <td>{{ls.numero}}</td>
                <td>{{parade}}</td>
                <td>{{ls.orden}}</td>
                <td>{{ls.hora_inicio}}</td>
                <td>
                    <div class="form-check  " >
                        <input  class="form-check-input"  type="checkbox" id="{{ls.id_orden_grupo}}" name="a" value="ls.Listasignarbus" >

                    </div>
                </td>
                <td>
                    <select class="form-control  col-6 col-sm-9 " (change)="selectbus($event)">
                    <option selected> </option>
                    <option  *ngFor="let bu of listBus" value="{{bu.id_bus}}" >{{bu.padron}}</option>
                  </select>

                </td>
                <td><button class="icon"><i class="fa fa-check" aria-hidden="true" (click)="actualizar(ls.id_orden_grupo)"></i>
                </button> </td>

            </tr>

        </tbody>
    </table>
    <pagination-controls directionLinks="true" (pageChange)="p2 = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>

    
</div>

