

<div class="filtrar  ">

  <select class="browser-default custom-select col-6 col-sm-1 mr-3 ml-5">
    <option selected>paradero</option>
    <option value="1">cieneguilla</option>
    <option value="2">BUS</option>
  </select>


  <select class="browser-default custom-select col-6 col-sm-1 ml-1  ">
    <option selected></option>
    <option value="1">BUS</option>
    <option value="2">BUS</option>
  </select>

  <button class="btn btn-btn ml-5 bot">Filtrar</button>
</div>



<div class="container pt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">GRUPO</th>
        <th scope="col">PARADERO</th>
        <th scope="col">ORDEN</th>
        <th scope="col">FIJO</th>
        <th scope="col">BUS</th>
      </tr>
    </thead>
    <tbody>
      <tr  >
        <th scope="row"  >1</th>
        <td></td>
        <td></td>
        <td></td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2"></label>
        </div></td>
        <td >
                <select class="form-control  col-6 col-sm-9  "  >
                    <option selected> </option>
                    <option multiple  *ngFor="let bus of listBus" >{{bus.placa}}</option>
                    
                  </select>
           
             </td>
        
      </tr>
     
    </tbody>
  </table>
</div>

<div class="container 2">

  <button type="button" class="btn btn-btn vol ">VOLVER</button>

  <button type="button" class="btn btn-btn gua ">GUARDAR</button>
</div>

