

<div class="filtrar pt-3 ">

  <select class="form-control  col-6 col-sm-2  para  " [(ngModel)]="selected" (ngModelChange)="onSelect(selected)">
    <option > </option>
    <option *ngFor="let pa of listparadero" [value]="pa.id_paradero">{{pa.paradero}}</option>
  
  </select>

</div>



<div class="container pt-5">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">GRUPO</th>
        <th scope="col">PARADERO</th>
        <th scope="col">ORDEN</th>
        <th scope="col">HORA</th>
        <th scope="col">FIJO</th>
        <th scope="col">BUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ls of Listasignarbus;let i = index"  >
        <th scope="row" >{{i+1}}</th>
        <td>{{ls.numero}}</td>
        <td ></td>
        <td>{{ls.orden}}</td>
        <td>{{ls.hora_inicio}}</td>
        <td><div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2"></label>
        </div></td>
        <td >
                <select class="form-control  col-6 col-sm-9  "  >
                    <option selected> </option>
                    <option  *ngFor="let bu of listBus">{{bu.padron}}</option>
                  </select>
           
             </td>
        
      </tr>
     
    </tbody>
  </table>
</div>

<div class="container 2">

  <button type="button" class="btn btn-btn vol ">VOLVER</button>

  <button type="button" class="btn btn-btn gua ">GUARDAR</button>
</div>

