<div class="row">
   <div class="col-xl-12">
      <br>
      <FONT FACE="courier" SIZE=10 style="margin-left:50px;">PRODUCTOS</FONT>
    </div>
      <br>

      <br>
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="hola">
         <div class="input-group">
              <input type="search" placeholder="Ingrese producto a buscar..." aria-describedby="button-addon1" 
                class="form-control border-0 bg-light" >
               <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                     class="fa fa-search" ></i></button>
               </div>
            </div>
         </div>
         <br>
         <div class="button-7">
           <div class="eff-7"></div>
           <a href="#">Agregar Productos</a>
         </div>
         <br><br><br><br>

      <div class="modal fade" id="addtipomantenimiento" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      </div>
         <table class="table table-hover" id="tabla_producto">
            <thead>
               <tr>
                  <th>Producto</th>
                  <th>Descripción</th>
                  <th>Categoría</th>
                  <th>U. M.</th>
                  <th>Código</th>
                  <th>Marca</th>
                  <th colspan="2">Opción</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let producto of listProducto">
                  <td>{{producto.nombre_producto}}</td>
                  <td>{{producto.descripcion}}</td>
                  <td>{{producto.id_categoria}}</td>
                  <td>{{producto.id_unidad_medida}}</td>
                  <td>{{producto.codigo}}</td>
                  <td>{{producto.id_marca}}</td>
                  <td><button class="btn btn-warning fa fa-pencil"  (click)="loadProducto(producto)" (click)="fillSelectCategoria()"  (click)="fillSelectMarca()" (click)="fillSelectUnidadMedida()"
                     data-toggle="modal" data-target="#edit"></button></td>
                  <td><button class="btn btn-danger fa fa-trash" (click)="Eliminar(producto)"></button></td>       
               </tr>
            </tbody>
         </table>
</div>
    