<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
          AUTORIZAR PEDIDO
      </h1>
      <br><br>
      <!-- TABLA LISTAR-->
      <div class="container row">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th colspan="5">LISTA DE PEDIDOS</th>
            </tr>
          </thead>
          <thead class="thead">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Ver Detalle</th>
              <th scope="col">Autorizar</th>
              <th scope="col">Denegar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mant of listMantenimiento, let i = index">
              <th>{{i+1}}</th>
              <td>{{mant.fecha}}</td>
              <td><button (click)="listardetalle(ped.id_pedido)" type="button" 
                class="btn btn-secondary fa fa-eye" data-toggle="modal" data-target="#exampleModal"></button></td>
              <td><button  type="button" class="btn btn-info far fa-check-circle" data-toggle="modal" 
                data-target="#confirmautorizar" (click)="loadPedidoUpdate_Positivo(ped)" > </button></td>  
              <td><button  type="button" class="btn btn-danger fa fa-stop-circle" data-toggle="modal"
                 data-target="#confirmdenegar"(click)="loadPedidoUpdate_Negativo(ped)" > </button></td>       
            </tr>
          </tbody>
        </table>
    </div>


        <!-- MODAL DETALLE PEDIDO-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PRODUCTOS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
         <!-- MODAL BODY -->
        <div class="modal-body">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="5">LISTA DE PEDIDOS</th>
              </tr>
            </thead>
            <thead class="thead">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of listProducto,let i = index">
                <td>{{producto.nombre_producto}}</td>
                <td>20</td>    
              </tr>
            </tbody>
          </table>
        </div>
        <!-- MODAL FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <!-- MODAL DENEGAR PEDIDO-->
    <div class="modal fade" id="confirmdenegarx" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content" >
              <div class="modal-header">
                  <h4 class="modal-title">Denegar</h4>
              </div>
              <div class="modal-body">
                  <label>¿Estás seguro de denegar este pedido?</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger"
                  data-dismiss="modal">Denegar</button>
              </div>
          </div>
      </div>
  </div>
  <!-- MODAL AUTORIZAR PEDIDO-->
  <div class="modal fade" id="confirmautorizarx" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">Autorizar</h4>
            </div>
            <div class="modal-body">
                <label >¿Estás seguro de autorizar este pedido? </label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary"
                data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
</div>