<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="page-header">
          AUTORIZAR PEDIDO
      </h1>
      <br><br>
      <!-- TABLA LISTAR-->
      <div class="container row">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th colspan="5">LISTA DE PEDIDOS</th>
            </tr>
          </thead>
          <thead class="thead">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Ver Detalle</th>
              <th scope="col">Autorizar</th>
              <th scope="col">Denegar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ped of lispedi, let i = index">
              <th>{{i+1}}</th>
              <td>{{ped.fecha_pedido}}</td>
              <td><button (click)="listardetalle(ped.id_pedido)" type="button" class="btn btn-info fa fa-eye" data-toggle="modal" data-target="#exampleModal"></button></td>
              <td><button  type="button" class="btn btn-warning fa fa-check"> </button></td>  
              <td><button  type="button" class="btn btn-danger fa fa-stop-circle" (click)="Eliminar(ped)" data-toggle="modal" data-target="#confirmdelete"> </button></td>       
            </tr>
          </tbody>
        </table>
    </div>
        <!-- MODAL DETALLE PEDIDO-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PRODUCTOS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
         <!-- MODAL BODY -->
        <div class="modal-body">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th colspan="5">LISTA DE PRODUCTOS</th>
              </tr>
            </thead>
            <thead class="thead">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of listdetalle">
                <td>{{det.nombre_producto}}</td>
                <td>{{det.cantidad_pedido}}</td>    
              </tr>
            </tbody>
          </table>
        </div>
        <!-- MODAL FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
   <!-- MODAL DENEGAR PEDIDO-->
   <div class="modal fade" id="confirmdelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">¿Estás seguro de eliminar este pedido? </h4>
            </div>
            <div class="modal-body" *ngFor="let det of listdetalle">
                <label>Fecha {{ped.fecha_pedido}}</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary"
                data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
  </div>
  </div>