<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('general')">
                <i class="fa fa-cog"></i>&nbsp;
                <span>{{ 'GENERAL' }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[0] === 'general'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/general/persona" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Persona' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/general/empresa" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Empresa' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <!-- MODULO 1 BUS Y CONDUCTOR -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md01')">
                <span class="fa-stack">
                    <i class="fas fa-bus"></i>&nbsp;
                    <i class="fas fa-user-tie"></i>&nbsp;
                </span>
                <span>{{ 'Buses y Conductores' }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[0] === 'md01'">
                <ul class="submenu">
                    <li>
                        <div class="nested-menu">
                            <a class="list-group-item" (click)="addExpandSubModulos('vinculacion')">
                                <i class="fa fa-plus"></i>&nbsp;
                                <span>{{ 'Vinculacion' }}</span>
                            </a>
                            <li class="nested" [class.expand]="showSubModulos[0] === 'vinculacion'">
                                <ul class="submenu">
                                    <li>
                                        <a routerLink="/md01/vinculacion/conductor" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                            <i class="fas fa-user-tie"></i>&nbsp;
                                            <span>{{ 'Conductor' }}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink="/md01/vinculacion/bus" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                            <i class="fa fa-user"></i>&nbsp;
                                            <span>{{ 'Bus' }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                        <a routerLink="/md01/curso" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fas fa-bookmark"></i>&nbsp;
                            <span>{{ 'Curso' }}</span>
                        </a>
                        <a routerLink="/md01/buses" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fas fa-bus"></i>&nbsp;
                            <span>{{ 'Buses' }}</span>
                        </a>
                        <a routerLink="/md01/buses" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Soat/Circulacion' }}</span>
                        </a>
                        <a routerLink="/md01/requisito" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fas fa-tasks"></i>&nbsp;
                            <span>{{ 'Requisito' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <!-- FIN MODULO 1 BUS Y CONDUCTOR -->
        <!-- MODULO 2 MANTENIMIENTO -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md02')">
                <i class="fa fa-fw fa-wrench"></i>&nbsp;
                <span>{{ 'Mantenimiento' }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[1] === 'md02'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/md02/accion" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Accion' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/md02/tipo-accion" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tipo de acción' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/md02/tipo-mantenimiento" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Tipo Mantenimiento' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/md02/registrar-mantenimiento" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-user"></i>&nbsp;
                            <span>{{ 'Registrar Mantenimiento' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/md02/segunda-validacion" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Segunda validacion de mantenimiento' }}</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/md02/pedido" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-check-circle"></i>&nbsp;
                            <span>{{ ' Pedido' }}</span>
                        </a>
                    </li>
                    <li>

                    <li>
                        <a routerLink="/md02/autorizar-pedido" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-check-circle"></i>&nbsp;
                            <span>{{ 'Autorizar Pedido' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/md02/revision-tecnica" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Revisión Técnica' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- FIN MODULO 2 MANTENIMIENTO -->
        <!-- MODULO 3 DESPACHO -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md03')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Cronograma y Despacho'}}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[2] === 'md03'">
                <ul class="submenu">
                        <li>
                                <a routerLink="/md03/asignar-bus" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                    <i class="fa fa-fw fa-edit"></i>&nbsp;
                                    <span>{{ 'Asignar Bus' }}</span>
                                </a>
                            </li>
                            <li>
                                    <a routerLink="/md03/asignar-conductor" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i class="fa fa-fw fa-edit"></i>&nbsp;
                                        <span>{{ 'Asignar Conductor' }}</span>
                                    </a>
                                </li>
                    <li>
                        <a routerLink="/md03/grupo" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Configurar Grupos' }}</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/md03/reportes" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Generar Reportes' }}</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/md03/csv" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'CSV'}}</span>
                        </a>
                    </li>

                </ul>
            </li>
        </div>
        <!-- FIN MODULO 3 DESPACHO -->
        <!-- MODULO 4 VENTAS -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md04')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'MD04' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[3] === 'md04'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                            <span>{{ 'Dashboard' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                            <span>{{ 'Charts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tables' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Forms' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;
                            <span>{{ 'Bootstrap Element' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;
                            <span>{{ 'Bootstrap Grid' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Component' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- FIN MODULO 4 VENTAS -->
        <!-- MODULO  5 ALMACEN -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md05')">
                <i class="fa fa-fw fa-edit"></i>&nbsp;
                <span>{{ 'Almacen' }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[4] === 'md05'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/md05/producto" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Producto'}}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/md05/categoria']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{'Categoria/Marca'}}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tables' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Forms' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;
                            <span>{{ 'Bootstrap Element' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;
                            <span>{{ 'Bootstrap Grid' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Component' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- FIN MODULO  5 ALMACEN -->
        <!-- MODULO 6 SEGURIDAD -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md06')">
                <i class="fa fa-lock"></i>&nbsp;
                <span>{{ 'Seguridad' }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[5] === 'md06'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/seguridad/usuario" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-users"></i>&nbsp;
                            <span>{{ 'Usuarios' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/seguridad/rol" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-code-fork"></i>&nbsp;
                            <span>{{ 'Roles' }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/seguridad/opcion" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-cogs"></i>&nbsp;
                            <span>{{ 'Opciones' }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- FIN MODULO 6 SEGURIDAD -->
        <!-- MODULO 7 REPORTES -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md07')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'MD07' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[6] === 'md07'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                            <span>{{ 'Dashboard' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                            <span>{{ 'Charts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tables' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Forms' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;
                            <span>{{ 'Bootstrap Element' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;
                            <span>{{ 'Bootstrap Grid' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Component' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- MODULO 7 REPORTES -->
        <!-- MODULO 8 CONFIGURACION -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandModulos('md08')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'MD08' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showModulos[7] === 'md08'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                            <span>{{ 'Dashboard' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                            <span>{{ 'Charts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tables' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Forms' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;
                            <span>{{ 'Bootstrap Element' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;
                            <span>{{ 'Bootstrap Grid' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Component' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- FIN MODULO 8 CONFIGURACION -->

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Plantilla' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
                            <span>{{ 'Dashboard' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
                            <span>{{ 'Charts' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-table"></i>&nbsp;
                            <span>{{ 'Tables' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;
                            <span>{{ 'Forms' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;
                            <span>{{ 'Bootstrap Element' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>&nbsp;
                            <span>{{ 'Bootstrap Grid' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-th-list"></i>&nbsp;
                            <span>{{ 'Component' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>