 <div class="input-group  col-sm-7 pb-4 pt-4  buscar-caja ">
   
    <label class="mr-3 pt-2">Buscar Conductores: </label>
    <input type="text"  style="height: 40px;" class="buscar-txt" placeholder="Buscar..." name="filterasignarconductor" [(ngModel)]= "filterasignarconductorHtml" />
     <a   class=""><i class="fa fa-search lupa  "  ></i></a>
  

  
  </div>

  
  <div class="container " style="margin-top: 50px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Carnet</th>
          <th scope="col">N°DE BUS</th>
          <th scope="col">N° DE BUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ac of Listasignarconductor| paginate: {itemsPerPage: 5, currentPage: p2} |filterasignarconductor:filterasignarconductorHtml ;let i = index">
          <th id="row" scope="row">{{i+1}}</th>
          <th>{{ac.nombre_persona}}</th>
          <th>{{ac.apellido_paterno}}&nbsp;&nbsp; {{ac.apellido_materno}}</th>
          <th>{{ac.carnet_c}}</th> 
               
         
          <td><select style="width: 160px;" class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option *ngFor="let bu of listarbus" >{{bu.padron}}</option>
           
          </select></td>
          <td><select style="width: 160px;" class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option *ngFor="let bu of listarbus">{{bu.padron}}</option>
        
          </select></td>
          <td><button class="icon"><i class="fa fa-check" aria-hidden="true" (click)="actualizar()"></i>
          </button> </td>
        </tr>
      
       
      </tbody>
    </table>
    <pagination-controls directionLinks="true" (pageChange)="p2 = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
  </div>
  
  <div class="container 2">
  
    
  
    <button type="button" class="btn btn-btn gua ">GUARDAR</button>
  </div>
  
  
