<div class="input-group  col-sm-7 pb-4 pt-4  buscar-caja ">
    <label class="mr-3 pt-2">Buscar Conductores: </label>
    <input type="text" name="" class="buscar-txt" placeholder="Buscar..."/>
     <a   class=""><i class="fa fa-search lupa  "></i></a>
  
     <div class="btbus">
       <button class="btn btn-btn bus">Buscar</button>
     </div>
  
  </div>
  
  
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Carnet</th>
          <th scope="col">N° DE BUS</th>
          <th scope="col">N° DE BUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th></th>
          <th></th>
          <th></th>         
         
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1"></option>
           
          </select></td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1"></option>
        
          </select></td>
          
        </tr>
      
       
      </tbody>
    </table>
  </div>
  
  <div class="container 2">
  
    <button type="button" class="btn btn-btn vol ">VOLVER</button>
  
    <button type="button" class="btn btn-btn gua ">GUARDAR</button>
  </div>
  
  
