<div class="input-group  col-sm-7 pb-4 pt-2  buscar-caja ">
    <label class="mr-3 pt-2">Buscar Conductores: </label>
    <input type="text" name="" class="buscar-txt" placeholder="Buscar..."/>
     <a   class=""><i class="fa fa-search lupa  "></i></a>
  
     <div class="btbus">
       <button class="btn btn-btn bus">Buscar</button>
     </div>
  
  </div>
  
  
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">CODIGO</th>
          <th scope="col">N° DE BUS</th>
          <th scope="col">N° DE BUS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alex</td>
          <td>Chavez</td>
          <td>C_1</td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">124</option>
            <option value="2">125</option>
          </select></td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">172</option>
            <option value="2">173</option>
          </select></td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Abel</td>
          <td>Bohoequez</td>
          <td>C_2</td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">124</option>
            <option value="2">125</option>
          </select></td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">172</option>
            <option value="2">173</option>
          </select></td>
         
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Anastacio</td>
          <td>Ramos</td>
          <td>C_3</td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">125</option>
            <option value="2">126</option>
          </select></td>
          <td><select class="browser-default custom-select col-6 col-sm-5">
            <option selected></option>
            <option value="1">106</option>
            <option value="2">107</option>
          </select></td>
          
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container 2">
  
    <button type="button" class="btn btn-btn vol ">VOLVER</button>
  
    <button type="button" class="btn btn-btn gua ">GUARDAR</button>
  </div>
  
  
