<div class="container-fluid">

    <nav class="margin">
        <button type="button" (click)="fillSelec(); mostrar = true" class="btn btn-lg btn-success radius" style="margin-right: 25px" data-toggle="modal" data-target="#exampleModal">Nuevo</button>
        <button (click)="mostrar = false ; fillSelec() " class="btn btn-secondary btn-lg radius" data-toggle="modal" data-target="#exampleModal">Agregar</button>

        <div class="mes">
            <label class="h4">{{varmes}}</label>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" style="margin-top: 150px;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">

            <div class="modal-content  r">
                <div class="modal-header ">
                    <h5 class="modal-title " id="exampleModalLabel">Configuración de grupos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row m20" *ngIf="mostrar">
                            <div class="col-6 t">
                                <label for="">Mes </label>
                            </div>
                            <div class="col-6">
                                <select class="form-control a" (change)="selectmes($event)" style="height: 29px; padding: 2px; padding-left: 5px;">
                                <option value="0">Mes</option>
                                <option *ngFor="let me of listmes" value="{{me.id_mes}}">{{me.mes}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row m20">
                            <div class="col-6 t"><label>Grupo</label></div>
                            <div class="col-6"><input [(ngModel)]="newgrupo.numero" name="numero" class="form-control b" type="text"></div>
                        </div>

                        <div class="row m20">
                            <div class="col-6"><label>Cantidad de vehiculos</label></div>
                            <div class="col-6"><input [(ngModel)]="newgrupo.cantidad_buses" name="cantidad_buses" class="form-control b" type="text"></div>
                        </div>

                        <div class="row">
                            <div class="col-6 t m20"><label>Hora Inicio</label></div>
                            <div class="col-6">
                                <div class="form-inline">
                                    <div>
                                        <small id="emailHelp" class="form-text text-muted">Hora</small>
                                        <select class="form-control b" (change)="selecthora($event)" style="padding: 2px;padding-left: 5px; height: 25px;">
                                            <option  value="{{00}}" >00</option>            
                                            <option *ngFor="let h of hora" value="{{h}}" >{{h}}</option>
                                        </select>
                                    </div>

                                    <div>
                                        <small id="emailHelp" class="form-text text-muted">Minuto</small>
                                        <select class="form-control b" (change)="selectminuto($event)" style="padding: 1px; padding-left: 7px; height: 25px; margin-left: 10px;">
                                                    <option *ngFor="let minutos of minuto" value="{{minutos}}">{{minutos}}</option>
                                            </select>

                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row m20">
                            <div class="col-6 t"><label>Intervalo</label></div>
                            <div class="col-6"><input [(ngModel)]="newgrupo.intervalo" name="intervalo" class="form-control b" type="text"></div>
                        </div>

                        <div *ngIf="mostrar" class="row m20" style="color: red; text-align: center; margin-left: 5px;">
                            <p> Al guardar se eliminara los grupos ya existentes </p>
                        </div>



                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" (click)="guardar()" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>





    <!--  List Grupos -->
    <div class="container margin">

        <div class="card-columns">

            <!-- Ng For-->
            <div *ngFor="let g of grupos" class="card border-success mb-3" style="max-width: 18rem; padding-top: 0px;">
                <button type="button" (click)="Eliminar(g)" class="clos">
                                <span aria-hidden="true">&times;</span>
                </button>
                <div class="" style="color: black;">
                    <!--  Grupo -->
                    <div class="row">
                        <div class="col-6">
                            <p>Grupo </p>
                        </div>

                        <div class="col-6" style="padding-left: 0px; ">
                            <span class="badge badge-dark badge-pill input"> {{g.numero}}</span>
                        </div>
                    </div>
                    <!--  Cantidad Bus -->
                    <div class="row">
                        <div class="col-6">
                            <p>C. de Buses </p>
                        </div>

                        <div class="col-6" style="padding: 0">
                            <span class="badge badge-dark badge-pill input">{{g.cantidad_buses}}</span>
                        </div>

                    </div>




                    <!--  Hora Inicio -->
                    <div class="row">
                        <div class="col-6">
                            <p>Hora Inicio</p>
                        </div>

                        <div class="col-6" style="padding: 0">
                            <span class="badge badge-dark badge-pill input">{{g.hora_inicio}}</span>
                        </div>

                    </div>


                    <!--  Hora Fin -->

                    <div class="row">
                        <div class="col-6">
                            <p>Hora Fin </p>
                        </div>

                        <div class="col-6" style="padding: 0">
                            <span class="badge badge-dark badge-pill input">{{g.hora_fin}}</span>
                        </div>

                    </div>

                    <!-- Intervalo -->
                    <div class="row">
                        <div class="col-6">
                            <p>Intervalo </p>
                        </div>

                        <div class="col-6" style="padding: 0">
                            <span class="badge badge-dark badge-pill input">{{g.intervalo}}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--fin de cards -->





    </div>




</div>