<div class="container-fluid">

    <nav>
        <button type="button" class="btn btn-lg btn-success radius" style="margin-right: 25px">Nuevo</button>
        <button type="button" class="btn btn-secondary btn-lg radius">Agregar</button>
    </nav>

    <div class="container margin">

        <div class="card-columns">

            <!--  <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">

                     Grupo
                    <p>Grupo <span class="badge badge-light badge-pill input">14</span></p>

                     Cantidad Bus
                    <p>C. de Buses <span class="badge badge-primary badge-pill input">14</span></p>
                    Hora Inicio
                    <p>Hora Inicio
                        <span class="badge badge-light badge-pill input">14</span>
                        <span class="badge badge-primary badge-pill input" style="margin-left: 105px;">14</span>
                    </p>
                     Hora Fin
                    <p>Hora Fin <span class="badge badge-light badge-pill input">14</span></p>
                    Intervalo
                    <p>Intervalo <span class="badge badge-light badge-pill input">14    min</span></p>


                </div>
            </div>
        -->





            <div class="card border-success mb-3" style="max-width: 18rem;">

                <div class="card-body text-success">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

            </div>



        </div>
        <!--fin de cards -->





    </div>

    <footer class="footer ">
        <div class="container">
            <button type="button" class="btn btn-lg btn-secondary radius" style="margin-right: 25px">Cancelar</button>
            <button type="button" class="btn btn-success btn-lg radius">Guardar</button>

        </div>
    </footer>



</div>