.margin {
    margin-top: 50px;
}

.radius {
    border-radius: 15px;
}

footer {
    position: fixed;
    bottom: 10%;
    text-align: right;
    width: 100%;
}

.input {
    text-align: center;
    width: 45px;
    height: 25px;
    position: fixed;
    margin-left: 50px;
    font-size: 17px;
}